# 00 Data Preparation
author: SheltonXiao (Tong Xiao)    
2023/2/12

In [10]:
import os
import numpy as np
import pandas as pd
from tqdm import trange
from IPython.display import clear_output

## import data

### Time-series

In [62]:
file_list = os.listdir(r"data/raw/dataAllFields/")
injection = [each for each in file_list if "Injection" in each]
production = [each for each in file_list if "Production" in each]

#### Injection Well Information

In [63]:
info = pd.DataFrame()
for i in trange(len(injection)):
    each = injection[i]
    sub_info = pd.read_excel(r"data/raw/dataAllFields/"+each,nrows=1,index_col=0,parse_dates=False).dropna(how = "all",axis = 0)
    info = pd.concat([info,sub_info],axis = 0)

100%|██████████| 33403/33403 [17:00<00:00, 32.74it/s]

In [64]:
try:
    os.mkdir(r"data/processed")
except:
    pass
info.to_csv(os.path.join(r"data/processed","well_injection_info.csv"))

#### Injection Well Time-series

In [52]:
ts = pd.DataFrame()
for i in trange(len(injection)):
    each = injection[i]
    data = pd.read_excel(r"data/raw/dataAllFields/"+each,skiprows=[0,1,2],parse_dates=True).dropna(how = "all",axis = 1)
    if len(data) < 1:
        continue
    data = data[["Total" not in each for each in data["Injection Date"]]]
    data["Year"] = [int(each.split("-")[1]) for each in data["Injection Date"]]
    data["Month"] = [each.split("-")[0] for each in data["Injection Date"]]
    ts = pd.concat([ts,data],axis = 0)

100%|█████████▉| 33403/33404 [18:32<00:00, 30.04it/s]

PermissionError: [Errno 13] Permission denied: 'data/raw/dataAllFields/~$Well_Injection_API_05920869.xlsx'

In [75]:
ts.head(5)

,API Number,Injection Date,Water or Steam Injected (bbl),Days Well Injected,Surface Injection Pressure,Source of Water,Kind of Water,PWT Status,Well Type,Status,Pool Code,Reported Date,Year,Month,Gas or Air Injected (Mcf)
1,3700007,Dec-1979,NaN,NaN,NaN,NaN,NaN,P,WF,5.0,20.0,1979-12-01,1979,Dec,NaN
2,3700007,Nov-1979,NaN,NaN,NaN,NaN,NaN,P,WF,5.0,20.0,1979-11-01,1979,Nov,NaN
3,3700007,Oct-1979,NaN,NaN,NaN,NaN,NaN,P,WF,5.0,20.0,1979-10-01,1979,Oct,NaN
4,3700007,Sep-1979,NaN,NaN,NaN,NaN,NaN,P,WF,5.0,20.0,1979-09-01,1979,Sep,NaN
5,3700007,Aug-1979,0.0,0.0,0.0,1.0,1.0,P,WF,5.0,20.0,1979-08-01,1979,Aug,NaN

In [60]:
ts.to_csv(os.path.join(r"data/processed","well_injection_data.csv"),index = None)

In [76]:
ts[ts["Days Well Injected"]>0].to_csv(os.path.join(r"data/processed","well_injection_data_nonzero.csv"),index = None)

#### Production Well Information

In [67]:
info_p = pd.DataFrame()
for i in trange(len(production)):
    each = production[i]
    sub_info = pd.read_excel(r"data/raw/dataAllFields/"+each,nrows=1,index_col=0,parse_dates=False).dropna(how = "all",axis = 0).dropna(how = "all",axis = 1)
    info_p = pd.concat([info_p,sub_info],axis = 0)

100%|██████████| 33403/33403 [34:48<00:00, 16.00it/s]

In [66]:
info_p

,Operator Name,County Name,Field Name,Lease Name,Well #,Area Name,Area Code,District #,Section,Township,Range,Base Meridian,Latitude,Longitude,Unnamed: 15,Unnamed: 16
API #,,,,,,,,,,,,,,,,
2500001,Mike Barkett,Imperial,Any Field,Barkett,2,Any Area,0,1,20,17S,11E,SB,32.661605,-115.885164,NaN,NaN
2500002,Clarence E. Harrison,Imperial,Any Field,Yuha,1,Any Area,0,1,20,17S,11E,SB,32.661568,-115.873528,NaN,NaN
2500003,Petrodynamics Assoc.,Imperial,Any Field,Straw,1,Any Area,0,1,2,17S,10E,SB,32.703601,-115.936421,NaN,NaN
2500004,Sardi Oil Co.,Imperial,Any Field,Biff,1,Any Area,0,1,24,12S,13E,SB,33.111987,-115.571866,NaN,NaN
2500005,Ajax Oil and Development Co.,Imperial,Any Field,U.S.L. Phyllis,1,Any Area,0,1,2,13S,17E,SB,33.068021,-115.187679,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3714787,BreitBurn Operating LP,Los Angeles,Santa Fe Springs,NaN,486-G,Any Area,0,1,6,03S,11W,SB,33.942218,-118.065484,NaN,NaN
3714788,"Blanton, Gendron & Cook",Los Angeles,Santa Fe Springs,NaN,56,Any Area,0,1,1,03S,12W,SB,33.936671,-118.086564,NaN,NaN
3714789,Block Oil Co.,Los Angeles,Santa Fe Springs,NaN,2,Any Area,0,1,6,03S,11W,SB,33.940659,-118.070689,NaN,NaN
3714790,Harry Briggs,Los Angeles,Santa Fe Springs,Dallugge,9,Any Area,0,1,31,02S,11W,SB,33.950167,-118.076053,NaN,NaN
3714791,Jack Brown,Los Angeles,Santa Fe Springs,White Star,1,Any Area,0,1,6,03S,11W,SB,33.940096,-118.069159,NaN,NaN

In [68]:
info_p.to_csv(os.path.join(r"data/processed","well_production_info.csv"))

#### Production Well Time-series

In [70]:
ts_p = pd.DataFrame()
for i in trange(len(production)):
    each = production[i]
    data = pd.read_excel(r"data/raw/dataAllFields/"+each,skiprows=[0,1,2],parse_dates=True).dropna(how = "all",axis = 1)
    if len(data) < 1:
        continue
    data = data[["Total" not in each for each in data["Production Date"]]]
    data["Year"] = [int(each.split("-")[1]) for each in data["Production Date"]]
    data["Month"] = [each.split("-")[0] for each in data["Production Date"]]
    ts_p = pd.concat([ts_p,data],axis = 0)

100%|██████████| 33403/33403 [1:23:44<00:00,  6.65it/s]

In [71]:
ts_p.to_csv(os.path.join(r"data/processed","well_production_data.csv"),index = None)

In [74]:
ts_p[ts_p["Days Well Produced"]>0].to_csv(os.path.join(r"data/processed","well_production_data_nonzero.csv"),index = None)

## Earthquake Data

In [108]:
file_list = os.listdir(r"data/raw/SCEC_DC/")
eq_file = [each for each in file_list if "catalog" in each]

eq_data = pd.DataFrame()
for i in trange(len(eq_file)):
    each = eq_file[i]
    df = pd.read_csv(r"data/raw/SCEC_DC/"+each,delim_whitespace=True,skiprows=list(range(9))).dropna(how="all",axis = 1).iloc[:-1,:]
    try:
        df["Time"] = df["#YYY/MM/DD"]+" "+df["HH:mm:SS.ss"]
        df["Time"] = pd.to_datetime(df["Time"])
    except:
        # :60
        df["Time"] = df["#YYY/MM/DD"]+" "+[each[:-5] for each in df["HH:mm:SS.ss"]]+"00"
        df["Time"] = pd.to_datetime(df["Time"])
    eq_data = pd.concat([eq_data,df],axis=0)

100%|██████████| 92/92 [00:25<00:00,  3.63it/s]

In [111]:
eq_data["Year"] = [each.year for each in eq_data["Time"]]

In [112]:
eq_data.to_csv(os.path.join(r"data/processed","earthquake.csv"),index=None)